<a href="https://colab.research.google.com/github/prathamesh144/SKILL/blob/main/Expt_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: mount the drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Expt2 Data Processing: Cleaning the dataset obtained from UCI-ML Respirasotary

Steps to clean the dataset

# 1.)Load The Dataset

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Data_Science/heart_attack_indonesia.csv')
print(df.head())

   ID      State  Age HeartAttack  Gender  Cholesterol SmokingHabits  \
0   1  Pekanbaru   32          No    Male          179        Smoker
1   2   Makassar   15         Yes  Female          201    Non-smoker
2   3   Surabaya   41          No  Female          167    Non-smoker
3   4     Malang   31          No    Male          287        Smoker
4   5       Bali   19          No    Male          239        Smoker

  PhysicalActivity   BMI Hypertension  ... EducationLevel MaritalStatus  \
0             High  19.1          Yes  ...      Secondary        Single
1             High  26.9           No  ...      Secondary       Married
2         Moderate  29.6          Yes  ...        Primary        Single
3         Moderate  19.4           No  ...         Higher        Single
4             High  18.5           No  ...      Secondary       Married

  FamilyHistoryHeartDisease IncomeLevel HealthcareAccess SleepHours  \
0                        No      Middle             Good        7.9
1                        No      Middle          Average        8.5
2                        No      Middle             Poor        7.3
3                       Yes      Middle             Good        4.8
4                        No         Low             Poor        6.0

  UrbanOrRural AirQualityIndex PollutionLevel EmploymentStatus
0        Urban              73           High       Unemployed
1        Urban             266       Moderate       Unemployed
2        Urban             132       Moderate         Employed
3        Rural              64           High       Unemployed
4        Urban             155       Moderate       Unemployed

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         170501 non-null  int64
 1   State                      170501 non-null  object
 2   Age                        170501 non-null  int64
 3   HeartAttack                170501 non-null  object
 4   Gender                     170501 non-null  object
 5   Cholesterol                170501 non-null  int64
 6   SmokingHabits              170501 non-null  object
 7   PhysicalActivity           170501 non-null  object
 8   BMI                        170501 non-null  float64
 9   Hypertension               170501 non-null  object
 10  Diabetes                   170501 non-null  object
 11  AlcoholConsumption         113873 non-null  object
 12  DietType                   170501 non-null  object
 13  OccupationType             170501 non-null  object
 14  StressLevel                170501 non-null  object
 15  EducationLevel             170501 non-null  object
 16  MaritalStatus              170501 non-null  object
 17  FamilyHistoryHeartDisease  170501 non-null  object
 18  IncomeLevel                170501 non-null  object
 19  HealthcareAccess           170501 non-null  object
 20  SleepHours                 170501 non-null  float64
 21  UrbanOrRural               170501 non-null  object
 22  AirQualityIndex            170501 non-null  int64
 23  PollutionLevel             170501 non-null  object
 24  EmploymentStatus           170501 non-null  object
dtypes: float64(2), int64(4), object(19)
memory usage: 32.5+ MB
None
                  ID            Age    Cholesterol            BMI  \
count  170501.000000  170501.000000  170501.000000  170501.000000
mean    85251.000000      39.510132     224.525035      26.511188
std     49219.543461      14.416183      43.230770       4.902923
min         1.000000      15.000000     150.000000      18.000000
25%     42626.000000      27.000000     187.000000      22.300000
50%     85251.000000      40.000000     225.000000      26.500000
75%    127876.000000      52.000000     262.000000      30.800000
max    170501.000000      64.000000     299.000000      35.000000

          SleepHours  AirQualityIndex
count  170501.000000    170501.000000
mean        6.503479       174.802541
std         1.442710        72.150478
min         4.000000        50.000000
25%         5.300000       112.000000
50%         6.500000       175.000000
75%         7.800000       237.000000
max         9.000000       299.000000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170501 entries, 0 to 170500
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         170501 non-null  int64
 1   State                      170501 non-null  object
 2   Age                        170501 non-null  int64
 3   HeartAttack                170501 non-null  object
 4   Gender                     170501 non-null  object
 5   Cholesterol                170501 non-null  int64
 6   SmokingHabits              170501 non-null  object
 7   PhysicalActivity           170501 non-null  object
 8   BMI                        170501 non-null  float64
 9   Hypertension               170501 non-null  object
 10  Diabetes                   170501 non-null  object
 11  AlcoholConsumption         113873 non-null  object
 12  DietType                   170501 non-null  object
 13  OccupationType             170501 non-null  object
 14  StressLevel                170501 non-null  object
 15  EducationLevel             170501 non-null  object
 16  MaritalStatus              170501 non-null  object
 17  FamilyHistoryHeartDisease  170501 non-null  object
 18  IncomeLevel                170501 non-null  object
 19  HealthcareAccess           170501 non-null  object
 20  SleepHours                 170501 non-null  float64
 21  UrbanOrRural               170501 non-null  object
 22  AirQualityIndex            170501 non-null  int64
 23  PollutionLevel             170501 non-null  object
 24  EmploymentStatus           170501 non-null  object
dtypes: float64(2), int64(4), object(19)
memory usage: 32.5+ MB
None

In [ ]:
print(df.describe())

                  ID            Age    Cholesterol            BMI  \
count  170501.000000  170501.000000  170501.000000  170501.000000
mean    85251.000000      39.510132     224.525035      26.511188
std     49219.543461      14.416183      43.230770       4.902923
min         1.000000      15.000000     150.000000      18.000000
25%     42626.000000      27.000000     187.000000      22.300000
50%     85251.000000      40.000000     225.000000      26.500000
75%    127876.000000      52.000000     262.000000      30.800000
max    170501.000000      64.000000     299.000000      35.000000

          SleepHours  AirQualityIndex
count  170501.000000    170501.000000
mean        6.503479       174.802541
std         1.442710        72.150478
min         4.000000        50.000000
25%         5.300000       112.000000
50%         6.500000       175.000000
75%         7.800000       237.000000
max         9.000000       299.000000

In [ ]:
# Handle missing Data chech for missing values
print(df.isnull().sum())

ID                               0
State                            0
Age                              0
HeartAttack                      0
Gender                           0
Cholesterol                      0
SmokingHabits                    0
PhysicalActivity                 0
BMI                              0
Hypertension                     0
Diabetes                         0
AlcoholConsumption           56628
DietType                         0
OccupationType                   0
StressLevel                      0
EducationLevel                   0
MaritalStatus                    0
FamilyHistoryHeartDisease        0
IncomeLevel                      0
HealthcareAccess                 0
SleepHours                       0
UrbanOrRural                     0
AirQualityIndex                  0
PollutionLevel                   0
EmploymentStatus                 0
dtype: int64

In [ ]:
# Drop rows/columns
df=df.dropna() # drop rows

In [ ]:
df=df.dropna(axis=1) #drop columns

In [ ]:
# check for duplicates
print(df.duplicated().sum())

0

In [ ]:
df=df.drop_duplicates() # remove duplicates

Handle Outliners

In [ ]:
q1=df['Age'].quantile(0.25)
q3=df['Age'].quantile(0.75)
iqr=q3-q1
df=df[~((df['Age']<(q1-1.5*iqr))|(df['Age']>(q3+1.5*iqr)))]

**Standardized Data Dormat**

In [ ]:
# Convert categorical data into consistent formats
df['State']=df['State'].str.lower().str.strip() #convert date columns into date time objects